<html>
  <head>
    <link href="/ctl.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #caption-tag { text-align:center; }
    </style>

    <script type="text/javascript"  src="/jquery-1.4.js"> </script>
    <script type="text/javascript"> 

      function getMarqueeData () { 
        $('#marquee-tag').load('/marquee');
      };

      $(function() { 
         getMarqueeData();      
         setInterval(getMarqueeData, 10000);  // every ten seconds, requery the server for updated marquee data
         $('#marquee-tag')[0].onclick = function(event) { window.location = '/ctl/marquee'  }; // change marquee data
         $('#caption-tag')[0].onclick = function(event) { window.location = '/ctl/mode'  };    // change dance/teaching mode, select videos
      });

    </script>
  </head>

  <body>
    <marquee><div id="marquee-tag"><%= marquee_text %></div></marquee>

    <p>
      <table width="100%" height="75%" border=0>
	<tr>
	  <td width="50%">
	    <% if left_video_html_path =~ /ogv/i %>
	    <video width="100%" height="100%" loop controls autobuffer autoplay>
	      <source src="<%= left_video_html_path %>"  type="video/ogg" />
	    </video>
	    <% else %>
	    <embed
	       flashvars="file=<%= left_video_html_path %>&autostart=true&repeat=single&controlbar=none&volume=0"
	       id="player1"
	       name="player1"
	       src="/player.swf"
	       width="100%"
	       height="100%"
	       />
	    <% end %>
	  </td>
	  <td width="50%">
	    <% if right_video_html_path =~ /ogv/i %>
	    <video width="100%" height="100%" loop controls autobuffer autoplay>
	      <source src="<%= right_video_html_path %>"  type="video/ogg" />
	    </video>
	    <% else %>
	    <embed
	       flashvars="file=<%= right_video_html_path %>&autostart=true&repeat=single&controlbar=none&volume=0"
	       id="player1"
	       name="player1"
	       src="/player.swf"
	       width="100%"
	       height="100%"
	       />
	    <% end %>
	  </td>
	</tr>
      </table>
    </p>

    <p>
      <img id="caption-tag" src="<%= caption_image_path  %>">
    </p>
  </body>

</html>
